
  .solid-inanimate-logo {
    z-index: 0;
    width: 700px;
    height: 700px;
    position: absolute;
    top: 0;
    right: -5%;
    bottom: -27%;
    left: auto;
    margin: auto;
    transform: rotateZ(270deg) !important;
    z-index: 1;
  }