.home-page {

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%); 
        width: 40%;
        max-height: 90%;  
    }

    h1 {
        color: var(--magenta);
        font-size: 53px;
        margin: 0;
        font-family: 'Rockwell';
        font-weight: 400;

        img {
            width: 45px;
            margin-left: 20px;
            margin-top: auto;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }


    .flat-button{
        color: var(--magenta);
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: 'Rockwell';
        text-decoration: none;
        padding: 10px 18px;
        border: 3px dotted var(--magenta);
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;


        &:hover{
            background: #fff;
            color: var(--green);
        }
         
    }
   
}
