html{
  font-size: 62.5%;
}

:root {
  --magenta: #fb9be6;
  --grey: rgba(56, 51, 51, 0.478);
  --black: #353935;
  --white: #FFF5EE;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Monaco';
  color: var(--grey);
  background: var(--white);
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
