html{
  font-size: 62.5%;
}

:root {
  --magenta: #C242A6;
  --berry: #8F1A76;
  --lavender: #CF9DF5; 
  --yellow: #F6F2BD;
  --sand: #c2b78247;
  --grey: rgba(34, 32, 32, 0.478);
  --green: #375c3b;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Rockwell';
  color: var(--grey);
  background: var(--sand);
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
